{% extends "core/base.html" %}

{% block title %}
Список всех блогов.
{% endblock %}

{% block back %}
    <button onclick="location.href='{% url "home"%}'">Назад</button>
{% endblock %}

{% block add %}
    <button onclick="location.href='{% url "blogs:new_blog" %}'">Создать блог</button>
{% endblock %}

{% block content %}

    <form action="" method="get">
        Сортировать по: {{ filterForm.order_by }}
        Название: {{ filterForm.title }}
        Автор: {{ filterForm.author }}
        <input type="submit" value="OK">
    </form>

    {% include "core/pagination.html" %}

    {% for blog in object_list %}
        <div style="font-size: 14pt;">
            <table rules="cols" border="2">
                <tr class="top">
                    <td class="left"><b>Автор: {{ blog.author }}</b></td>
                    <td>
                        <span><b>#{{ blog.id }}</b></span>
                        <a href="{% url "blogs:particular_blog" pk=blog.id%}">
                            <b>{{ blog.title }}</b>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="dates left">
                        <p>Создан: {{ blog.created_at.date }}</p>
                        <p>Редактирован: {{ blog.updated_at.date }}</p>
                    </td>
                    <td class="text">{{ blog.description }}</td>
                </tr>
            </table>
        </div>
    {% endfor %}

{% endblock %}