<style>
    nav span a {
        color: darkslategrey;
        text-decoration: none;
        font-size: larger;
    }
    nav span a:visited {
        color: darkslategrey;
    }
    nav>span {
        display: inline-block;
        border: 1px solid grey;
        padding: 3px;
        margin: 0 3px;
        text-align: center;
        width: 15px
    }
    .activate {
        background: palegreen;
    }
</style>
{% if is_paginated %}
    <nav>
        {% for page in paginator.page_range %}
            <span {% if page == page_obj.number %}class="activate"{% endif %}>
                <a href="?page={{ page }}">{{ page }}</a>
            </span>

        {% endfor %}
    </nav>
{% endif %}